@model Nocturno.Web.Areas.Admin.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Page</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Page.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Page.Name" class="form-control" />
                <span asp-validation-for="Page.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Sections</label>
            <div class="col-md-10">
                @for (int i = 0; i < Model.Sections.Count(); i++)
                {
                    <div class="checkbox checkbox-primary">
                        <input asp-for="ActiveSections[Model.Sections[i].Name]" class="styled" />
                        <label>
                            @Model.Sections[i].Name
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Add to menu</label>
            <div class="col-md-10">
                <div class="checkbox checkbox-primary">
                    <input asp-for="IsInMenu" class="styled" />
                    <label>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}