@model Nocturno.Web.ViewModels.Page.DetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Name)
        </dd>
        <dt>
            Sections
        </dt>
        @foreach (var item in Model.Sections)
        {
            <dd>
                @item.Name
            </dd>
        }
    </dl>

                       

</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Page.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</p>