
    @using Microsoft.Extensions.OptionsModel
    @using Nocturno.Data.Settings
    @inject IOptions<NocturnoSettings> settings
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Admin - @settings.Value.SiteName</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/css/themes/@settings.Value.AdminTheme" />
            @*<link rel="stylesheet" href="~/css/site.css" />*@
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/css/themes/@settings.Value.AdminTheme"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        </environment>

        <!-- Custom CSS -->
        <link href="~/css/sb-admin.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="~/css/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />
        
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            @await Html.PartialAsync("_MenuPartial")

            <div id="page-wrapper">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Morris Charts JavaScript -->
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <script src="~/js/plugins/morris/raphael.min.js"></script>
        <script src="~/js/plugins/morris/morris.min.js"></script>
        <script src="~/js/plugins/morris/morris-data.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>