@model Nocturno.Data.Models.SimplePanel

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>@Model.Text</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="@Model.Hyperlink">@Model.Title</a>
        </div>
    </div>
</div>
<hr/>