@if ((ViewContext.RouteData.Values["name"] != null) && (ViewContext.RouteData.Values["name"].ToString().ToLower() != "home"))
{
    <div class="container">
        @Html.Partial("~/Views/Templates/_Breadcrumb.cshtml")
    </div>
}