@model Nocturno.Data.Models.Node

@foreach (var item in Model.SimpleTextNodes)
{
    <div class="container">
        @Html.Partial("~/Views/Templates/_SimpleText.cshtml", item.SimpleText)
    </div>
}

@foreach (var item in Model.CollectionNodes)
{
    <div class="container">
        @Html.Partial("~/Views/Templates/_Collection.cshtml", item.Collection)
    </div>
}