@model IDictionary<string, string>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>@Model["Site name"]</title>

<environment names="Development">
    <link rel="stylesheet" href="~/css/themes/@Model["Site theme"]" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
          asp-fallback-href="~/css/themes/@Model["Site theme"]"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
</environment>

<!-- Custom CSS -->
<link href="~/css/modern-business.css" rel="stylesheet">
<link href="~/css/main.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
