@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-primary">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-primary">Create</a>
            }
            
        </dd>
    </dl>
</div>
